:root {
	--primary-gradient-background: linear-gradient(
		180deg,
		rgba(217, 90, 17, 1) 0%,
		rgba(233, 126, 48, 1) 100%
	);
	--primary-gradient-reversed-background: linear-gradient(
		0deg,
		rgba(217, 90, 17, 1) 0%,
		rgba(233, 126, 48, 1) 100%
	);

	--color-primary: #d95a11;
	--color-cream: #f0f2ac;
	--color-dark-cream: #a68a37;
	--color-dirty-white: #fefeee;

	--navbar-height: 90px;
	--slide-padding-x: 2em;
	--slide-padding: 4em var(--slide-padding-x);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

main {
	position: relative;
	z-index: 0;
}

body {
	background-color: var(--color-dirty-white);
}

.title {
	font-weight: bolder;
	font-size: 32px;
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
}

.body {
	font-weight: 300;
	font-size: 16px;
}

.boldbody {
	font-weight: bold;
	font-size: 16px;
}

.regular {
	font-weight: 400;
	font-size: 12px;
}

.bold {
	font-weight: bold;
	font-size: 12px;
}

.light {
	font-weight: 200;
	font-size: 12px;
}

#dissapearAtMobile {
	display: none;
}

@media only screen and (min-width: 768px) {
	.body {
		font-size: 20px;
	}

	.boldbody {
		font-size: 20px;
	}

	.regular {
		font-size: 16px;
	}
	.bold {
		font-size: 16px;
	}

	.light {
		font-size: 16px;
	}

	#dissapearAtMobile {
		display: block;
	}
}

@media only screen and (min-width: 1280px) {
	.title {
		font-size: 48px;
	}

	.subtitle {
		font-size: 32px;
	}

	.body {
		font-size: 24px;
	}

	.boldbody {
		font-size: 24px;
	}

	.regular {
		font-size: 18px;
	}
	.bold {
		font-size: 18px;
	}
	.light {
		font-size: 16px;
	}

	:root {
		--navbar-height: 90px;
		--slide-padding-x: 8em;
		--slide-padding: 4em 8em;
	}
}

@media only screen and (min-width: 1600px) {
	:root {
		--slide-padding-x: 16em;
		--slide-padding: 4em 16em;
	}
}

@media only screen and (max-width: 400px) {
	.title {
		font-size: 24px;
	}

	.subtitle {
		font-size: 14px;
	}

	.body {
		font-size: 12px;
	}

	.boldbody {
		font-size: 12px;
	}

	.regular {
		font-size: 10px;
	}

	.bold {
		font-size: 10px;
	}

	.light {
		font-size: 10px;
	}

	:root {
		--navbar-height: 65px;
		--slide-padding-x: 1.25em;
		--slide-padding: 4em 1.25em;
	}
}
